<div class="jumbotron">
    <h1>Examples</h1>
</div>
<div class="row">
    <h2>Clients</h2>
    <section class="content-wrapper main-content clear-fix">
        <div class="col-md-2">Get All Clients: </div>
        <div class="col-md-3"><a href="/api/Clients" target="_blank">http://host/api/Clients</a></div>         
    </section>
    <br>
    <section class="content-wrapper main-content clear-fix">
        <div class="col-md-2">Get Clients By Id: </div>
        <div class="col-md-3"><a href="/api/Clients/1" target="_blank">http://host/api/Clients/1</a></div>
    </section>
</div>
<div class="row">
    <h2>Agents</h2>
    <section class="content-wrapper main-content clear-fix">
        Some content goes here
    </section>
</div>
