<div class="jumbotron">
    <h1>Real Estate API</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Clients</h2>
        <p>Get all clients, clients by ID, choose output type in JSON or XML.</p>
        <p><a class="btn btn-default" href="/Home/Examples/#client">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Agents</h2>
        <p>Get all agents, agents by ID, choose output type in JSON or XML.</p>
        <p><a class="btn btn-default" href="/Home/Examples/#agent">Learn more &raquo;</a></p>
    </div>
</div>
